<!-- <ion-view title="Home">
    <ion-content padding="true">
        <div class="list">
            <a class="item item-avatar" href="#">
                <img src="img/ionic.png">
                <h2>Home Ion</h2>
                <p>Hello ! I am an home ion !</p>
            </a>
        </div>
    </ion-content>
</ion-view>
 -->
<!-- <ion-view view-title="Sessions" ng-controller="SessionsCtrl">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="session in sessions" href="#/detail/{{session.id}}">{{session.title}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view> -->

<ion-view view-title="{{user.name}}">
    <ion-content class="has-header">
        <div class="list">
            <a class="item item-avatar" href="#">
                <img src="http://graph.facebook.com/{{user.id}}/picture?width=270&height=270">
                <p>{{user.name}}</p>
                <p>{{user.email}}</p>
            </a>
        </div>
        <ion-list>
            <ion-item ng-repeat="session in sessions" href="#/detail/{{session.id}}">{{session.title}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
